
body, body > * {
    --background: #000000;
    --text: #FFFFFF;
    --divider: #FFFFFF33;
}

/* */

* {
    color: var(--text);
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

html, body, #app {
    background-color: var(--backpage);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* */

#app {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
 * Livestream Seite
 */

#livestream {
    height: 100vh;
    width: 133vh;
    background: gray;
    position: relative;
}

#livestream > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#livestream > .container {
    display: flex;
    align-items: center;
    background-color: var(--background);
}

#livestream > .container > video {
    width: 100%;
}

#livestream > .standby {
    width: 100%;
    height: 100%;
    background-image: url('/assets/standby.png');
    background-size: cover;
    background-position: center;
}

#livestream > .standby > .cover {
    width: 100%;
    height: 100%;
    background: #000000CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#livestream > .standby > .cover > h3 {
    color: white;
    margin: 0;
    font-size: 5vh;
    text-shadow: 0 0 5px #000000CC;
}

/*
 * Daten Seite
 */

#livedata {
    height: 100vh;
    width: calc(100vw - 133vh);
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
}

h2 {
    color: var(--text);
    margin: 0px;
    padding: 30px;
    font-size: 4vh;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid var(--divider);
}

.row {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--divider);
}

/*
 * Components
 */

.dataset {
    display: flex;
    flex-direction: column;
}

.dataset > .value {
    color: var(--text);
    font-size: 4vh;
    text-align: center;
    font-weight: 600;
}

.dataset > .name {
    color: var(--text);
    font-size: 2vh;
    padding: 10px 0 30px 0;
    text-align: center;
    font-weight: 400;
}